.banner {
  position: relative;
  .main-slider {
    .item {
      img {
        filter: brightness(0.6);
      }
    }
  }
  .search-bar-on-banner {
    position: absolute;
    max-width: 1050px;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 16px;
    z-index: 2;
  }
  &-text {
    position: absolute;
    left: 0px;
    right: 0;
    bottom: 32px;
    z-index: 2;
  }
}
