.um {
  &-sidebar {
    position: relative;
    width: 100%;
    background: #ffffff;
    border: 2px solid #e6e6e6;
    &-inner {
      padding: 24px 16px;
    }
    &-block {
      &-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
      }
      &-content {
        ul {
          li {
            margin-top: 16px;
          }
        }
      }
      &.open .icon {
        rotate: (-90deg);
      }
      &:not(:first-child) {
        margin-top: 24px;
        padding: 24px 0;
        border-top: 1px solid #e6e6e6;
      }
    }
  }
}
