<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Card Component</title>
    <!-- bootstrap css -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <!-- google icon css -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- owl carousel css -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/assets/owl.carousel.min.css"
    />
    <!-- light slider css -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/css/lightslider.min.css"
    />
    <!-- swiper css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
    <!-- magnific popup css -->
    <link
      rel="stylesheet"
      href="../../libs/magnific-popup/magnific-popup.css"
    />
    <!-- font-awesome css -->
    <link rel="stylesheet" href="../../libs/font-awesome/css/all.css" />
    <!-- animate css -->
    <link rel="stylesheet " href="../../libs/animate-css/animate.css" />
    <!-- animate css -->
    <link rel="stylesheet " href="../../libs/select2/select2.min.css" />
    <!-- app css -->
    <link rel="stylesheet" href="../../css/style.css" />
  </head>
  <body class="component-body">
    <div class="component-warper">
      <div class="container">
        <section class="sec-card-type-1">
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-3">
              <div class="card card-type-1">
                <div class="card-img">
                  <a href="#">
                    <img
                      src="../../img/card-img.png"
                      class="img-responsive"
                      alt=""
                    />
                  </a>
                </div>
                <div class="card-info">
                  <h3 class="card-title">
                    <a href="#" class="title clr-dark ff-semibold">Căm trại</a>
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="sec-card-type-2 mt-8">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="card card-type-2">
                <div class="card-img">
                  <a href="#">
                    <img
                      src="../../img/card-img-large.png"
                      class="img-responsive"
                      alt=""
                    />
                  </a>
                </div>
                <div class="card-info">
                  <div class="card-utils mb-1">
                    <div class="tour-code">
                      <b>Mã tour:</b> <span>HB07</span>
                    </div>

                    <span class="clr-gray-light">|</span>

                    <div class="tour-rate">
                      <b>4.5</b>
                      <i class="fa-sharp fa-solid fa-star icon"></i>
                      <span>(120 đánh giá)</span>
                    </div>
                  </div>
                  <h3 class="card-title">
                    <a href="#" class="heading heading-tertiary clr-dark"
                      >SUP/Kayak Tour (HB07) - Khám phá Vịnh Ngòi Hoa...</a
                    >
                  </h3>
                  <div class="h-line mt-2 mb-2"></div>

                  <div class="card-synop">
                    <ul class="custom-nav">
                      <li>
                        <p><b>Thời gian:</b> 3 ngày</p>
                      </li>
                      <li>
                        <p><b>Địa điểm:</b> Hà Giang</p>
                      </li>
                      <li>
                        <p>
                          <b>Độ khó:</b> 5/10
                          <i class="fa-solid fa-circle-info clr-gray"></i>
                        </p>
                      </li>
                      <li>
                        <p><b>Hoạt động:</b> Trekking, đạp xe</p>
                      </li>
                    </ul>
                  </div>

                  <div class="h-line mt-2 mb-2"></div>

                  <div class="card-cost">Chi phí: <b>1.750.000 VNĐ</b></div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="sec-card-type-3 mt-8 bg-gray">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="card card-type-3">
                <div class="card-img">
                  <a href="#">
                    <img
                      src="../../img/card-img-large.png"
                      class="img-responsive"
                      alt=""
                    />
                  </a>
                </div>
                <div class="card-info">
                  <div class="card-utils mt-1">
                    <div class="calendar">
                      <i class="fa-solid fa-calendar-days"></i>
                      <span>30/10/2022</span>
                    </div>
                  </div>

                  <div class="h-line mt-2 mb-2"></div>

                  <h3 class="card-title">
                    <a href="#" class="title ff-semibold clr-dark"
                      >Chèo SUP, Cắm Trại & Khám Phá Hồ Thác Bà, Yên Bái</a
                    >
                  </h3>

                  <div class="card-synop mt-1">
                    <div class="paragraph">
                      Bài viết rất chi tiết của anh Lê Đức Trung về chuyến SUP
                      Tour do Umove tổ chức tháng 3/2019 tới Hồ Thác Bà tại Yên
                      Bái. Hồ nước lớn nhất Việt Nam và có tới 1300 hòn đảo xanh
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

    <!-- jQuery js -->
    <script src="../../libs/jQuery/jquery.min.js" defer></script>
    <!-- bootstrap js -->
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      defer
    ></script>
    <!-- owl carousel js -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/owl.carousel.min.js"
      defer
    ></script>
    <!-- lights slider js -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/js/lightslider.min.js"
      defer
    ></script>
    <!-- swiper js -->
    <script
      src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"
      defer
    ></script>
    <!-- aos js -->
    <script src="https://unpkg.com/aos@next/dist/aos.js" defer></script>
    <!-- magnific js -->
    <script
      src="../../libs/magnific-popup/jquery.magnific-popup.min.js"
      defer
    ></script>
    <!-- select2 js -->
    <script src="../../libs/select2/select2.full.min.js" defer></script>
    <!-- app js -->
    <script src="../../js/app.js" defer></script>
  </body>
</html>
