<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>U Move</title>
    <!-- bootstrap css -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <!-- google icon css -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- owl carousel css -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/assets/owl.carousel.min.css"
    />
    <!-- light slider css -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/css/lightslider.min.css"
    />
    <!-- swiper css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
    <!-- magnific popup css -->
    <link
      rel="stylesheet"
      href="../../libs/magnific-popup/magnific-popup.css"
    />
    <!-- font-awesome css -->
    <link rel="stylesheet" href="../../libs/font-awesome/css/all.css" />
    <!-- animate css -->
    <link rel="stylesheet " href="../../libs/animate-css/animate.css" />
    <!-- animate css -->
    <link rel="stylesheet " href="../../libs/select2/select2.min.css" />
    <!-- app css -->
    <link rel="stylesheet" href="../../css/style.css" />
  </head>
  <body class="mini-sidebar">
    <div class="wrapper-app">
      <header class="header" id="header">
        <div class="header-container">
          <div class="header-inner">
            <div class="header-top">
              <div class="container">
                <div class="inner">
                  <div class="header-top-left">
                    <ul class="custom-nav">
                      <li>
                        <a href="#">Khóa huấn luyện</a>
                      </li>
                      <li>
                        <a href="#">Sự kiện</a>
                      </li>
                      <li>
                        <a href="#">Blog</a>
                      </li>
                      <li>
                        <a href="#">Liên hệ</a>
                      </li>
                    </ul>
                  </div>

                  <div class="header-top-right">
                    <div class="header-language">
                      <div class="dropdown">
                        <div
                          class="toggle-language"
                          id="dropdownLanguageButton"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                        >
                          <img
                            src="../img/flag-vn.png"
                            class="img-responsive"
                            alt=""
                          />
                          <i class="fa-light fa-angle-down"></i>
                        </div>
                        <div
                          class="dropdown-menu"
                          aria-labelledby="dropdownLanguageButton"
                        >
                          <a class="dropdown-item" href="#"
                            ><img src="../img/flag-vn.png" alt=""
                          /></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="header-main">
              <div class="container">
                <div class="inner">
                  <div class="header-logo">
                    <a href="./index.html">
                      <h1>
                        <img
                          src="../img/logo.png"
                          class="img-responsive"
                          width="78"
                          alt=""
                        />
                      </h1>
                    </a>
                  </div>

                  <div class="header-search">
                    <form action="#">
                      <div>
                        <div class="form-group">
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Tìm kiếm cuộc hành trình của bạn"
                          />
                        </div>

                        <div class="form-actions">
                          <button class="btn">
                            <i class="fa-light fa-magnifying-glass"></i>
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>

                  <div class="header-utils">
                    <div class="hotline">
                      <a href="#">
                        <img
                          src="../img/icons/phone-calling-black.svg"
                          alt=""
                        />
                        <span>096 929 223 - 0979 800 588</span>
                      </a>
                    </div>

                    <div class="clr-gray-light">|</div>

                    <div class="block-user">
                      <div class="um-user logined">
                        <a href="./agency-info.html">
                          <div class="um-user-avatar">
                            <img
                              src="../img/user-img-2.png"
                              class="img-responsive"
                              alt=""
                            />
                          </div>
                          <div class="um-user-name">Hoàng Anh Lâm</div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="header-navigator">
              <div class="container">
                <div class="inner">
                  <ul class="menu">
                    <li>
                      <a href="./locations.html">Địa điểm</a>
                    </li>
                    <li>
                      <a href="./activate.html">Hoạt động</a>
                    </li>
                    <li>
                      <a href="./discover.html">Khám phá đặc biệt</a>
                    </li>
                    <li>
                      <a href="./schedule.html">Thời gian khởi hành</a>
                    </li>
                    <li>
                      <a href="./promotions.html">Khuyến mãi</a>
                    </li>
                    <li>
                      <a href="./q-a.html">Thông tin & hỏi đáp</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="header-bot">
              <div class="container">
                <div class="inner">
                  <div class="swiper campaignPromotion">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <div class="text clr-white text-center ff-medium">
                          Bạn đã sẵn sàng đặt chuyến phiêu lưu tiếp theo và
                          không muốn chờ đợi?
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="text clr-white text-center ff-medium">
                          Bạn đã sẵn sàng đặt chuyến phiêu lưu tiếp theo và
                          không muốn chờ đợi?
                        </div>
                      </div>
                    </div>
                    <div class="swiper-button-next">
                      <i class="fa-light fa-angle-right"></i>
                    </div>
                    <div class="swiper-button-prev">
                      <i class="fa-light fa-angle-left"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>

      <main class="main" id="main">
        <div class="warper-content">
          <div class="um-user-cover">
            <!-- main-sidebar: sty can be found in sass component sidebar.scss -->
            <aside class="main-sidebar">
              <nav class="main-sidebar-content">
                <button class="btn sidebar-toggle">
                  <i class="fa-light fa-arrow-left-from-line"></i>
                </button>
                <div class="um-user logined">
                  <div class="um-user-avatar">
                    <img
                      src="../img/user-img-2.png"
                      class="img-responsive"
                      alt=""
                    />
                  </div>
                  <div class="um-user-name">Hoàng Anh Lâm</div>
                </div>

                <div class="sidebar-nav">
                  <ul class="custom-nav">
                    <li>
                      <a href="./agency-dashboard.html" class="active">
                        <i class="fa-regular fa-table-columns"></i>
                        <span>Trang chủ</span>
                      </a>
                    </li>

                    <li>
                      <a href="./user-info.html">
                        <i class="fa-light fa-user"></i>
                        <span>Thông tin tài khoản</span>
                      </a>
                    </li>

                    <li>
                      <a href="./user-tour-booking.html">
                        <i class="fa-light fa-clipboard-list"></i>
                        <span>Tour booking</span>
                      </a>
                    </li>

                    <li>
                      <a href="./user-course.html">
                        <i class="fa-light fa-backpack"></i>
                        <span>Đăng ký khóa học</span>
                      </a>
                    </li>

                    <li>
                      <a href="./user-course.html">
                        <i class="fa-light fa-clipboard-list"></i>
                        <span>Danh sách khách hàng</span>
                      </a>
                    </li>

                    <li>
                      <a href="./agency-images.html">
                        <i class="fa-light fa-image"></i>
                        <span>Thư viện ảnh</span>
                      </a>
                    </li>

                    <li>
                      <a href="./agency-video.html">
                        <i class="fa-light fa-video"></i>
                        <span>Thư viện video</span>
                      </a>
                    </li>

                    <li>
                      <a href="./agency-quote.html">
                        <i class="fa-light fa-file-lines"></i>
                        <span>Báo giá</span>
                      </a>
                    </li>

                    <li class="highlight">
                      <a href="./user-create-tour.html">
                        <i class="fa-light fa-plus"></i>
                        <span>Yêu cầu thiết kế tour</span>
                      </a>
                    </li>

                    <li>
                      <a href="./index.html ">
                        <i class="fa-light fa-arrow-right-from-bracket"></i>
                        <span class="clr-danger">Đăng xuất </span>
                      </a>
                    </li>
                  </ul>
                </div>
              </nav>
            </aside>

            <div class="main-content">
              <div class="box">
                <div class="box-body">
                  <div class="mb-3">
                    <h2 class="heading heading-secondary ff-bold">Trang chủ</h2>
                  </div>

                  <div class="um-user-info">
                    <p>
                      Xin chào!
                      <b class="clr-secondary">Công ty thịnh gia phát</b>
                    </p>

                    <p>
                      Mã khách hàng:
                      <b class="clr-dark">MA001</b>
                    </p>

                    <p>
                      Đại lý cấp:
                      <b class="clr-dark">1</b>
                    </p>

                    <p>
                      Ngày tham gia:
                      <b class="clr-dark">16/11/2022</b>
                    </p>
                  </div>

                  <div class="um-statistical mt-3">
                    <div
                      class="um-statistical-item"
                      style="
                        --clr: #1f8b24;
                        --bg: #f2fff3;
                        --bd: rgba(31, 139, 36, 0.2);
                      "
                    >
                      <h3>Tổng số tour booking</h3>
                      <div>
                        <b>15</b> <br />
                        Tour
                      </div>
                    </div>

                    <div
                      class="um-statistical-item"
                      style="
                        --clr: #4c8deb;
                        --bg: rgba(76, 141, 235, 0.15);
                        --bd: rgba(76, 141, 235, 0.35); ;
                      "
                    >
                      <h3>Tổng số khóa học đăn ký</h3>
                      <div>
                        <b>15 </b> <br />
                        Khóa học
                      </div>
                    </div>

                    <div
                      class="um-statistical-item"
                      style="
                        --clr: #ffab49;
                        --bg: #fff9f2;
                        --bd: rgba(255, 171, 73, 0.35);
                      "
                    >
                      <h3>Tổng số doanh thu</h3>
                      <div>
                        <b>1.50.000.000 </b> <br />
                        VNĐ
                      </div>
                    </div>
                  </div>

                  <div class="um-user-nav">
                    <ul class="custom-nav">
                      <li>
                        <a href="#" class="active">
                          <i class="fa-light fa-clipboard-list"></i> Booking
                          tours
                        </a>
                      </li>
                      <li>
                        <a href="./agency-dashboar-tour.html ">
                          <i class="fa-light fa-backpack"></i> Đăng ký tours
                          riêng
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa-light fa-backpack"></i>
                          Đăng ký khóa học
                        </a>
                      </li>
                    </ul>
                  </div>

                  <div class="um-user-filter">
                    <form action="#">
                      <div>
                        <div class="form-group code">
                          <label for="">Mã tour</label>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Mã tour"
                          />
                        </div>
                        <div class="form-group name">
                          <label for="">Tên tour</label>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Tên tour"
                          />
                        </div>
                        <div class="form-group">
                          <label for="">Ngày khởi hành</label>
                          <div class="input-group">
                            <i class="fa-light fa-calendar icon"></i>
                            <input
                              type="text"
                              class="form-control"
                              placeholder="dd/mm/yy"
                            />
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="">Tình trạng</label>
                          <select name="" id="" class="form-control">
                            <option value="">Chọn tình trạng</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="">&nbsp;</label>
                          <button
                            type="submit"
                            class="btn bg-dark clr-white ff-semibold"
                          >
                            Tìm kiếm
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>

                  <div class="um-user-table">
                    <!-- Table : style can be found in sass/components/_table.scss -->
                    <div class="table-wrapper">
                      <div class="table-responsive">
                        <table class="table table-custom">
                          <thead>
                            <tr>
                              <th data-title="Mã tour" class="text-center">
                                Mã tour
                              </th>
                              <th data-title="Tên tour">Tên tour</th>
                              <th data-title="Ngày đặt" class="text-center">
                                Ngày đặt
                              </th>
                              <th
                                data-title="Ngày khởi hành"
                                class="text-center"
                              >
                                Ngày khởi hành
                              </th>
                              <th data-title="Số lượng" class="text-center">
                                Số lượng
                              </th>
                              <th
                                data-title="Giá tour"
                                width="8%"
                                class="text-right"
                              >
                                Giá tour
                              </th>
                              <th data-title="Đã thanh toán" class="text-right">
                                Đã thanh toán
                              </th>
                              <th data-title="Còn lại" class="text-right">
                                Còn lại
                              </th>
                              <th data-title="Trạng thái" class="tex-center">
                                Trạng thái
                              </th>
                              <th data-title="Hành động"></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td data-title="Mã tour" class="text-center">
                                HB07
                              </td>
                              <td data-title="Tên tour">
                                Chinh phục Sông Năng và Hồ Ba Bể, thám hiểm Rừng
                                Cúc Phương và Chèo SUP sông Bưởi, thám hiểm Rừng
                                Cúc Phương
                              </td>
                              <td data-title="Ngày đặt" class="text-center">
                                19:00:56 21/11/2022
                              </td>
                              <td
                                data-title="Ngày khởi hành"
                                class="text-center"
                              >
                                25/11/2022
                              </td>
                              <td data-title="Số lượng" class="text-center">
                                5
                              </td>
                              <td data-title="Giá tour" class="text-right">
                                1.750.000 VNĐ
                              </td>
                              <td data-title="Đã thanh toán" class="text-right">
                                1.000.000 VNĐ
                              </td>
                              <td data-title="Còn lại" class="text-right">
                                575.000.VNĐ
                              </td>
                              <td data-title="Trạng thái" class="tex-center">
                                <div class="badge badge-processing">
                                  Đang diễn ra
                                </div>
                              </td>
                              <td data-title="Hành động">
                                <div class="table-actions">
                                  <button type="button" class="btn btn-edit">
                                    <i class="fa-light fa-pen-to-square"></i>
                                  </button>
                                  <button type="button" class="btn btn-delete">
                                    <i class="fa-light fa-trash"></i>
                                  </button>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td data-title="Mã tour" class="text-center">
                                HB07
                              </td>
                              <td data-title="Tên tour">
                                Chinh phục Sông Năng và Hồ Ba Bể, thám hiểm Rừng
                                Cúc Phương và Chèo SUP sông Bưởi, thám hiểm Rừng
                                Cúc Phương
                              </td>
                              <td data-title="Ngày đặt" class="text-center">
                                19:00:56 21/11/2022
                              </td>
                              <td
                                data-title="Ngày khởi hành"
                                class="text-center"
                              >
                                25/11/2022
                              </td>
                              <td data-title="Số lượng" class="text-center">
                                5
                              </td>
                              <td data-title="Giá tour" class="text-right">
                                1.750.000 VNĐ
                              </td>
                              <td data-title="Đã thanh toán" class="text-right">
                                1.000.000 VNĐ
                              </td>
                              <td data-title="Còn lại" class="text-right">
                                575.000.VNĐ
                              </td>
                              <td data-title="Trạng thái" class="tex-center">
                                <div class="badge badge-processing">
                                  Đang diễn ra
                                </div>
                              </td>
                              <td data-title="Hành động">
                                <div class="table-actions">
                                  <button type="button" class="btn btn-edit">
                                    <i class="fa-light fa-pen-to-square"></i>
                                  </button>
                                  <button type="button" class="btn btn-delete">
                                    <i class="fa-light fa-trash"></i>
                                  </button>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td data-title="Mã tour" class="text-center">
                                HB07
                              </td>
                              <td data-title="Tên tour">
                                Chinh phục Sông Năng và Hồ Ba Bể, thám hiểm Rừng
                                Cúc Phương và Chèo SUP sông Bưởi, thám hiểm Rừng
                                Cúc Phương
                              </td>
                              <td data-title="Ngày đặt" class="text-center">
                                19:00:56 21/11/2022
                              </td>
                              <td
                                data-title="Ngày khởi hành"
                                class="text-center"
                              >
                                25/11/2022
                              </td>
                              <td data-title="Số lượng" class="text-center">
                                5
                              </td>
                              <td data-title="Giá tour" class="text-right">
                                1.750.000 VNĐ
                              </td>
                              <td data-title="Đã thanh toán" class="text-right">
                                1.000.000 VNĐ
                              </td>
                              <td data-title="Còn lại" class="text-right">
                                575.000.VNĐ
                              </td>
                              <td data-title="Trạng thái" class="tex-center">
                                <div class="badge badge-processing">
                                  Đang diễn ra
                                </div>
                              </td>
                              <td data-title="Hành động">
                                <div class="table-actions">
                                  <button type="button" class="btn btn-edit">
                                    <i class="fa-light fa-pen-to-square"></i>
                                  </button>
                                  <button type="button" class="btn btn-delete">
                                    <i class="fa-light fa-trash"></i>
                                  </button>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td data-title="Mã tour" class="text-center">
                                HB07
                              </td>
                              <td data-title="Tên tour">
                                Chinh phục Sông Năng và Hồ Ba Bể, thám hiểm Rừng
                                Cúc Phương và Chèo SUP sông Bưởi, thám hiểm Rừng
                                Cúc Phương
                              </td>
                              <td data-title="Ngày đặt" class="text-center">
                                19:00:56 21/11/2022
                              </td>
                              <td
                                data-title="Ngày khởi hành"
                                class="text-center"
                              >
                                25/11/2022
                              </td>
                              <td data-title="Số lượng" class="text-center">
                                5
                              </td>
                              <td data-title="Giá tour" class="text-right">
                                1.750.000 VNĐ
                              </td>
                              <td data-title="Đã thanh toán" class="text-right">
                                1.000.000 VNĐ
                              </td>
                              <td data-title="Còn lại" class="text-right">
                                575.000.VNĐ
                              </td>
                              <td data-title="Trạng thái" class="tex-center">
                                <div class="badge badge-processing">
                                  Đang diễn ra
                                </div>
                              </td>
                              <td data-title="Hành động">
                                <div class="table-actions">
                                  <button type="button" class="btn btn-edit">
                                    <i class="fa-light fa-pen-to-square"></i>
                                  </button>
                                  <button type="button" class="btn btn-delete">
                                    <i class="fa-light fa-trash"></i>
                                  </button>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td data-title="Mã tour" class="text-center">
                                HB07
                              </td>
                              <td data-title="Tên tour">
                                Chinh phục Sông Năng và Hồ Ba Bể, thám hiểm Rừng
                                Cúc Phương và Chèo SUP sông Bưởi, thám hiểm Rừng
                                Cúc Phương
                              </td>
                              <td data-title="Ngày đặt" class="text-center">
                                19:00:56 21/11/2022
                              </td>
                              <td
                                data-title="Ngày khởi hành"
                                class="text-center"
                              >
                                25/11/2022
                              </td>
                              <td data-title="Số lượng" class="text-center">
                                5
                              </td>
                              <td data-title="Giá tour" class="text-right">
                                1.750.000 VNĐ
                              </td>
                              <td data-title="Đã thanh toán" class="text-right">
                                1.000.000 VNĐ
                              </td>
                              <td data-title="Còn lại" class="text-right">
                                575.000.VNĐ
                              </td>
                              <td data-title="Trạng thái" class="tex-center">
                                <div class="badge badge-processing">
                                  Đang diễn ra
                                </div>
                              </td>
                              <td data-title="Hành động">
                                <div class="table-actions">
                                  <button type="button" class="btn btn-edit">
                                    <i class="fa-light fa-pen-to-square"></i>
                                  </button>
                                  <button type="button" class="btn btn-delete">
                                    <i class="fa-light fa-trash"></i>
                                  </button>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <!-- /.Table  -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>

    <!-- jQuery js -->
    <script src="../libs/jQuery/jquery.min.js" defer></script>
    <!-- bootstrap js -->
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      defer
    ></script>
    <!-- owl carousel js -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/owl.carousel.min.js"
      defer
    ></script>
    <!-- lights slider js -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/js/lightslider.min.js"
      defer
    ></script>
    <!-- swiper js -->
    <script
      src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"
      defer
    ></script>
    <!-- aos js -->
    <script src="https://unpkg.com/aos@next/dist/aos.js" defer></script>
    <!-- magnific js -->
    <script
      src="../libs/magnific-popup/jquery.magnific-popup.min.js"
      defer
    ></script>
    <!-- select2 js -->
    <script src="../libs/select2/select2.full.min.js" defer></script>
    <!-- app js -->
    <script src="../../js/scripts.js" defer></script>
    <!-- app js -->
    <script src="../../js/app.js" defer></script>
  </body>
</html>
