<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>U Move</title>
    <!-- bootstrap css -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <!-- google icon css -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- owl carousel css -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/assets/owl.carousel.min.css"
    />
    <!-- light slider css -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/css/lightslider.min.css"
    />
    <!-- swiper css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
    <!-- magnific popup css -->
    <link
      rel="stylesheet"
      href="../../libs/magnific-popup/magnific-popup.css"
    />
    <!-- font-awesome css -->
    <link rel="stylesheet" href="../../libs/font-awesome/css/all.css" />
    <!-- animate css -->
    <link rel="stylesheet " href="../../libs/animate-css/animate.css" />
    <!-- animate css -->
    <link rel="stylesheet " href="../../libs/select2/select2.min.css" />
    <!-- app css -->
    <link rel="stylesheet" href="../../css/style.css" />
  </head>
  <body class="mini-sidebar">
    <div class="wrapper-app">
      <header class="header" id="header">
        <div class="header-container">
          <div class="header-inner">
            <div class="header-top">
              <div class="container">
                <div class="inner">
                  <div class="header-top-left">
                    <ul class="custom-nav">
                      <li>
                        <a href="#">Khóa huấn luyện</a>
                      </li>
                      <li>
                        <a href="#">Sự kiện</a>
                      </li>
                      <li>
                        <a href="#">Blog</a>
                      </li>
                      <li>
                        <a href="#">Liên hệ</a>
                      </li>
                    </ul>
                  </div>

                  <div class="header-top-right">
                    <div class="header-language">
                      <div class="dropdown">
                        <div
                          class="toggle-language"
                          id="dropdownLanguageButton"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                        >
                          <img
                            src="../img/flag-vn.png"
                            class="img-responsive"
                            alt=""
                          />
                          <i class="fa-light fa-angle-down"></i>
                        </div>
                        <div
                          class="dropdown-menu"
                          aria-labelledby="dropdownLanguageButton"
                        >
                          <a class="dropdown-item" href="#"
                            ><img src="../img/flag-vn.png" alt=""
                          /></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="header-main">
              <div class="container">
                <div class="inner">
                  <div class="header-logo">
                    <a href="./index.html">
                      <h1>
                        <img
                          src="../img/logo.png"
                          class="img-responsive"
                          width="78"
                          alt=""
                        />
                      </h1>
                    </a>
                  </div>

                  <div class="header-search">
                    <form action="#">
                      <div>
                        <div class="form-group">
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Tìm kiếm cuộc hành trình của bạn"
                          />
                        </div>

                        <div class="form-actions">
                          <button class="btn">
                            <i class="fa-light fa-magnifying-glass"></i>
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>

                  <div class="header-utils">
                    <div class="hotline">
                      <a href="#">
                        <img
                          src="../img/icons/phone-calling-black.svg"
                          alt=""
                        />
                        <span>096 929 223 - 0979 800 588</span>
                      </a>
                    </div>

                    <div class="clr-gray-light">|</div>

                    <div class="block-user">
                      <div class="um-user logined">
                        <a href="./agency-info.html">
                          <div class="um-user-avatar">
                            <img
                              src="../img/user-img-2.png"
                              class="img-responsive"
                              alt=""
                            />
                          </div>
                          <div class="um-user-name">Hoàng Anh Lâm</div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="header-navigator">
              <div class="container">
                <div class="inner">
                  <ul class="menu">
                    <li>
                      <a href="./locations.html">Địa điểm</a>
                    </li>
                    <li>
                      <a href="./activate.html">Hoạt động</a>
                    </li>
                    <li>
                      <a href="./discover.html">Khám phá đặc biệt</a>
                    </li>
                    <li>
                      <a href="./schedule.html">Thời gian khởi hành</a>
                    </li>
                    <li>
                      <a href="./promotions.html">Khuyến mãi</a>
                    </li>
                    <li>
                      <a href="./q-a.html">Thông tin & hỏi đáp</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="header-bot">
              <div class="container">
                <div class="inner">
                  <div class="swiper campaignPromotion">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <div class="text clr-white text-center ff-medium">
                          Bạn đã sẵn sàng đặt chuyến phiêu lưu tiếp theo và
                          không muốn chờ đợi?
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="text clr-white text-center ff-medium">
                          Bạn đã sẵn sàng đặt chuyến phiêu lưu tiếp theo và
                          không muốn chờ đợi?
                        </div>
                      </div>
                    </div>
                    <div class="swiper-button-next">
                      <i class="fa-light fa-angle-right"></i>
                    </div>
                    <div class="swiper-button-prev">
                      <i class="fa-light fa-angle-left"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>

      <main class="main" id="main">
        <div class="warper-content">
          <div class="um-user-cover">
            <!-- main-sidebar: sty can be found in sass component sidebar.scss -->
            <aside class="main-sidebar">
              <nav class="main-sidebar-content">
                <button class="btn sidebar-toggle">
                  <i class="fa-light fa-arrow-left-from-line"></i>
                </button>
                <div class="um-user logined">
                  <div class="um-user-avatar">
                    <img
                      src="../img/user-img-2.png"
                      class="img-responsive"
                      alt=""
                    />
                  </div>
                  <div class="um-user-name">Hoàng Anh Lâm</div>
                </div>

                <div class="sidebar-nav">
                  <ul class="custom-nav">
                    <li>
                      <a href="./agency-dashboard.html">
                        <i class="fa-regular fa-table-columns"></i>
                        <span>Trang chủ</span>
                      </a>
                    </li>

                    <li>
                      <a href="./user-info.html">
                        <i class="fa-light fa-user"></i>
                        <span>Thông tin tài khoản</span>
                      </a>
                    </li>

                    <li>
                      <a href="./user-tour-booking.html" class="active">
                        <i class="fa-light fa-clipboard-list"></i>
                        <span>Tour booking</span>
                      </a>
                    </li>

                    <li>
                      <a href="./user-course.html">
                        <i class="fa-light fa-backpack"></i>
                        <span>Đăng ký khóa học</span>
                      </a>
                    </li>

                    <li>
                      <a href="./user-course.html">
                        <i class="fa-light fa-clipboard-list"></i>
                        <span>Danh sách khách hàng</span>
                      </a>
                    </li>

                    <li>
                      <a href="./agency-images.html">
                        <i class="fa-light fa-image"></i>
                        <span>Thư viện ảnh</span>
                      </a>
                    </li>

                    <li>
                      <a href="./agency-video.html">
                        <i class="fa-light fa-video"></i>
                        <span>Thư viện video</span>
                      </a>
                    </li>

                    <li>
                      <a href="./agency-quote.html">
                        <i class="fa-light fa-file-lines"></i>
                        <span>Báo giá</span>
                      </a>
                    </li>

                    <li class="highlight">
                      <a href="./user-create-tour.html">
                        <i class="fa-light fa-plus"></i>
                        <span>Yêu cầu thiết kế tour</span>
                      </a>
                    </li>

                    <li>
                      <a href="./index.html ">
                        <i class="fa-light fa-arrow-right-from-bracket"></i>
                        <span class="clr-danger">Đăng xuất </span>
                      </a>
                    </li>
                  </ul>
                </div>
              </nav>
            </aside>

            <div class="main-content">
              <div class="box">
                <div class="box-body">
                  <div class="mb-3">
                    <h2 class="heading heading-secondary ff-bold">
                      Chi tiết booking
                    </h2>

                    <div class="um-user-tour-detail">
                      <ul class="custom-nav">
                        <li>
                          <h3>SUP/Kayak Tour (HB07) - Khám phá Vịnh Ngòi</h3>
                        </li>
                        <li>
                          <p><b>Hướng dẫn viên:</b> Nguyễn Thị Ánh Tuyết</p>
                        </li>
                        <li>
                          <p><b>Mã tour:</b> HB07</p>
                        </li>
                        <li>
                          <p><b>Điện thoại:</b> 091.2354.3658</p>
                        </li>
                        <li>
                          <p><b>Ngày khởi hành:</b> 17/01/2023</p>
                        </li>
                        <li>
                          <p><b>Điềm đón:</b> Hà Nội</p>
                        </li>
                        <li>
                          <p><b>Thời gian:</b> 3 ngày</p>
                        </li>
                        <li>
                          <p><b>Điềm trả:</b> Hà Nội</p>
                        </li>
                      </ul>

                      <div class="um-user-table table-detail-booking">
                        <!-- Table : style can be found in sass/components/_table.scss -->
                        <div class="table-wrapper">
                          <div class="table-responsive">
                            <table class="table table-custom table-bordered">
                              <thead>
                                <tr>
                                  <th data-title="Thông tin khách hàng">
                                    Thông tin khách hàng
                                  </th>
                                  <th data-title="Đơn giá" class="text-center">
                                    Đơn giá
                                  </th>
                                  <th data-title="Giá tour" class="text-center">
                                    Giá tour
                                  </th>
                                  <th
                                    data-title="Giá đại lý"
                                    class="text-center"
                                  >
                                    Giá đại lý
                                  </th>
                                  <th
                                    data-title="Đã thanh toán"
                                    width="8%"
                                    class="text-center"
                                  >
                                    Đã thanh toán
                                  </th>
                                  <th data-title="Còn lại" class="text-center">
                                    Còn lại
                                  </th>
                                  <th
                                    data-title="Tình trạng"
                                    class="text-center"
                                  >
                                    Tình trạng
                                  </th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td data-title="Thông tin khách hàng">
                                    <p><b>Hoàng Anh Lâm</b> - Người lớn</p>
                                    <p>Giới tính: Nam</p>
                                    <p>Ngày sinh: 01/05/1994</p>
                                    <p>CCCD/CMND: 01051994745</p>
                                  </td>
                                  <td data-title="Đơn giá" class="text-center">
                                    <b>600.000 VNĐ</b>
                                  </td>
                                  <td
                                    data-title="Giá tour"
                                    class="text-center"
                                    rowspan="3"
                                  >
                                    <b>3.000.000 VNĐ</b>
                                  </td>
                                  <td
                                    data-title="Giá đại lý"
                                    class="text-center"
                                    rowspan="3"
                                  >
                                    <b>2.700.000 VNĐ</b>
                                  </td>
                                  <td
                                    data-title="Đã thanh toán"
                                    class="text-center"
                                    rowspan="3"
                                  >
                                    <b>2.000.000 VNĐ</b>
                                  </td>
                                  <td
                                    data-title="Còn lại"
                                    class="text-center"
                                    rowspan="3"
                                  >
                                    <b>750.000 VNĐ</b>
                                  </td>
                                  <td
                                    data-title="Trạng thái"
                                    class="text-center"
                                    rowspan="3"
                                  >
                                    <div class="badge badge-processing">
                                      Đang diễn ra
                                    </div>
                                  </td>
                                </tr>

                                <tr>
                                  <td data-title="Thông tin khách hàng">
                                    <p><b>Hoàng Anh Lâm</b> - Người lớn</p>
                                    <p>Giới tính: Nam</p>
                                    <p>Ngày sinh: 01/05/1994</p>
                                    <p>CCCD/CMND: 01051994745</p>
                                  </td>
                                  <td data-title="Đơn giá" class="text-center">
                                    <b>600.000 VNĐ</b>
                                  </td>
                                </tr>

                                <tr>
                                  <td data-title="Thông tin khách hàng">
                                    <p><b>Hoàng Anh Lâm</b> - Người lớn</p>
                                    <p>Giới tính: Nam</p>
                                    <p>Ngày sinh: 01/05/1994</p>
                                    <p>CCCD/CMND: 01051994745</p>
                                  </td>
                                  <td data-title="Đơn giá" class="text-center">
                                    <b>600.000 VNĐ</b>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                        <!-- /.Table  -->
                      </div>

                      <div class="report-services">
                        <div class="report-services-text">
                          <h3>Gửi phản hồi về dịch vụ Umove</h3>
                          <p>
                            Bạn có thể giúp chúng tôi cải thiện dịch vụ của
                            Umove
                          </p>
                        </div>
                        <button
                          class="btn clr-white bg-dark ff-semibold"
                          type="button"
                          data-toggle="modal"
                          data-target="#reportModal"
                        >
                          Gửi phản hồi
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>

    <!-- Modal -->
    <div
      class="modal fade custom-modal"
      id="reportModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="reportModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="report-services-form">
              <form action="#">
                <div>
                  <div class="report-services-form-title">
                    <h3>Đánh giá về dịch vụ</h3>
                    <button
                      class="btn"
                      type="button"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <i class="fa-light fa-xmark"></i>
                    </button>
                  </div>

                  <div class="report-services-form-content">
                    <table>
                      <thead>
                        <tr>
                          <th></th>
                          <th>Tệ</th>
                          <th>Trung bình</th>
                          <th>Tốt</th>
                          <th>Rất tốt</th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr>
                          <td colspan="5"></td>
                        </tr>
                        <tr>
                          <td>Chương trình tour</td>
                          <td>
                            <label class="mark-radio">
                              <input type="radio" />
                              <span class="fake-checked"></span>
                            </label>
                          </td>
                          <td>
                            <label class="mark-radio">
                              <input type="radio" />
                              <span class="fake-checked"></span>
                            </label>
                          </td>
                          <td>
                            <label class="mark-radio">
                              <input type="radio" />
                              <span class="fake-checked"></span>
                            </label>
                          </td>
                          <td>
                            <label class="mark-radio">
                              <input type="radio" />
                              <span class="fake-checked"></span>
                            </label>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="5"></td>
                        </tr>
                        <tr>
                          <td>Các bữa ăn</td>
                          <td>
                            <label class="mark-radio">
                              <input type="radio" />
                              <span class="fake-checked"></span>
                            </label>
                          </td>
                          <td>
                            <label class="mark-radio">
                              <input type="radio" />
                              <span class="fake-checked"></span>
                            </label>
                          </td>
                          <td>
                            <label class="mark-radio">
                              <input type="radio" />
                              <span class="fake-checked"></span>
                            </label>
                          </td>
                          <td>
                            <label class="mark-radio">
                              <input type="radio" />
                              <span class="fake-checked"></span>
                            </label>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="5"></td>
                        </tr>
                        <tr>
                          <td>Lưu trú</td>
                          <td>
                            <label class="mark-radio">
                              <input type="radio" />
                              <span class="fake-checked"></span>
                            </label>
                          </td>
                          <td>
                            <label class="mark-radio">
                              <input type="radio" />
                              <span class="fake-checked"></span>
                            </label>
                          </td>
                          <td>
                            <label class="mark-radio">
                              <input type="radio" />
                              <span class="fake-checked"></span>
                            </label>
                          </td>
                          <td>
                            <label class="mark-radio">
                              <input type="radio" />
                              <span class="fake-checked"></span>
                            </label>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="5"></td>
                        </tr>
                        <tr>
                          <td>Hướng dẫn viên</td>
                          <td>
                            <label class="mark-radio">
                              <input type="radio" />
                              <span class="fake-checked"></span>
                            </label>
                          </td>
                          <td>
                            <label class="mark-radio">
                              <input type="radio" />
                              <span class="fake-checked"></span>
                            </label>
                          </td>
                          <td>
                            <label class="mark-radio">
                              <input type="radio" />
                              <span class="fake-checked"></span>
                            </label>
                          </td>
                          <td>
                            <label class="mark-radio">
                              <input type="radio" />
                              <span class="fake-checked"></span>
                            </label>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="5"></td>
                        </tr>
                        <tr>
                          <td>Đội ngũ nhân viên hậu cần</td>
                          <td>
                            <label class="mark-radio">
                              <input type="radio" />
                              <span class="fake-checked"></span>
                            </label>
                          </td>
                          <td>
                            <label class="mark-radio">
                              <input type="radio" />
                              <span class="fake-checked"></span>
                            </label>
                          </td>
                          <td>
                            <label class="mark-radio">
                              <input type="radio" />
                              <span class="fake-checked"></span>
                            </label>
                          </td>
                          <td>
                            <label class="mark-radio">
                              <input type="radio" />
                              <span class="fake-checked"></span>
                            </label>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="5"></td>
                        </tr>
                        <tr>
                          <td>Thiết bị, dụng cụ</td>
                          <td>
                            <label class="mark-radio">
                              <input type="radio" />
                              <span class="fake-checked"></span>
                            </label>
                          </td>
                          <td>
                            <label class="mark-radio">
                              <input type="radio" />
                              <span class="fake-checked"></span>
                            </label>
                          </td>
                          <td>
                            <label class="mark-radio">
                              <input type="radio" />
                              <span class="fake-checked"></span>
                            </label>
                          </td>
                          <td>
                            <label class="mark-radio">
                              <input type="radio" />
                              <span class="fake-checked"></span>
                            </label>
                          </td>
                        </tr>
                      </tbody>
                    </table>

                    <div class="h-line mt-3 mb-3"></div>

                    <div class="form-group">
                      <label for="">Ý kiến, góp ý khác</label>
                      <textarea
                        class="form-control"
                        placeholder="Câu trả lời của bạn"
                      ></textarea>
                    </div>

                    <div class="form-action">
                      <button
                        type="submit"
                        class="btn bg-dark clr-white ff-semibold"
                      >
                        Gửi
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- jQuery js -->
    <script src="../libs/jQuery/jquery.min.js" defer></script>
    <!-- bootstrap js -->
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      defer
    ></script>
    <!-- owl carousel js -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/owl.carousel.min.js"
      defer
    ></script>
    <!-- lights slider js -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/js/lightslider.min.js"
      defer
    ></script>
    <!-- swiper js -->
    <script
      src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"
      defer
    ></script>
    <!-- aos js -->
    <script src="https://unpkg.com/aos@next/dist/aos.js" defer></script>
    <!-- magnific js -->
    <script
      src="../libs/magnific-popup/jquery.magnific-popup.min.js"
      defer
    ></script>
    <!-- select2 js -->
    <script src="../libs/select2/select2.full.min.js" defer></script>
    <!-- app js -->
    <script src="../../js/scripts.js" defer></script>
    <!-- app js -->
    <script src="../../js/app.js" defer></script>
  </body>
</html>
