<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Table Component</title>
    <!-- bootstrap css -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <!-- google icon css -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- owl carousel css -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/assets/owl.carousel.min.css"
    />
    <!-- light slider css -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/css/lightslider.min.css"
    />
    <!-- swiper css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
    <!-- magnific popup css -->
    <link
      rel="stylesheet"
      href="../../libs/magnific-popup/magnific-popup.css"
    />
    <!-- font-awesome css -->
    <link rel="stylesheet" href="../../libs/font-awesome/css/all.css" />
    <!-- animate css -->
    <link rel="stylesheet " href="../../libs/animate-css/animate.css" />
    <!-- animate css -->
    <link rel="stylesheet " href="../../libs/select2/select2.min.css" />
    <!-- app css -->
    <link rel="stylesheet" href="../../css/style.css" />
  </head>
  <body class="component-body">
    <div class="component-warper">
      <div class="container">
        <!-- Table : style can be found in sass/components/_table.scss -->
        <div class="table-wrapper">
          <div class="table-responsive">
            <table class="table table-custom">
              <thead>
                <tr>
                  <th>Họ và tên</th>
                  <th style="width: 40%">Email</th>
                  <th>Số điện thoại</th>
                  <th>Chức vụ</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Nguyễn Tú Anh</td>
                  <td>example@domain.com</td>
                  <td>0985366688</td>
                  <td>
                    <span class="badge badge-processing"
                      >Giám đốc bán hàng</span
                    >
                  </td>
                  <td>
                    <div class="table-actions">
                      <a href="#" class="btn btn-small btn-border btn-edit"
                        ><i class="fa-light fa-pen-to-square"></i
                      ></a>
                      <a href="#" class="btn btn-small btn-border btn-delete"
                        ><i class="fa-light fa-trash"></i
                      ></a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Nguyễn Tú Anh</td>
                  <td>example@domain.com</td>
                  <td>0985366688</td>
                  <td>
                    <span class="badge badge-success">Nhân viên sale</span>
                  </td>
                  <td>
                    <div class="table-actions">
                      <a href="#" class="btn btn-small btn-border btn-edit"
                        ><i class="fa-light fa-pen-to-square"></i
                      ></a>
                      <a href="#" class="btn btn-small btn-border btn-delete"
                        ><i class="fa-light fa-trash"></i
                      ></a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Nguyễn Tú Anh</td>
                  <td>example@domain.com</td>
                  <td>0985366688</td>
                  <td>
                    <span class="badge badge-warning">CEO</span>
                  </td>
                  <td>
                    <div class="table-actions">
                      <a href="#" class="btn btn-small btn-border btn-edit"
                        ><i class="fa-light fa-pen-to-square"></i
                      ></a>
                      <a href="#" class="btn btn-small btn-border btn-delete"
                        ><i class="fa-light fa-trash"></i
                      ></a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Nguyễn Tú Anh</td>
                  <td>example@domain.com</td>
                  <td>0985366688</td>
                  <td>
                    <span class="badge badge-danger">quản lý</span>
                  </td>
                  <td>
                    <div class="table-actions">
                      <a href="#" class="btn btn-small btn-border btn-edit"
                        ><i class="fa-light fa-pen-to-square"></i
                      ></a>
                      <a href="#" class="btn btn-small btn-border btn-delete"
                        ><i class="fa-light fa-trash"></i
                      ></a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- /.Table  -->
      </div>
    </div>

    <!-- jQuery js -->
    <script src="../../libs/jQuery/jquery.min.js" defer></script>
    <!-- bootstrap js -->
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      defer
    ></script>
    <!-- owl carousel js -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/owl.carousel.min.js"
      defer
    ></script>
    <!-- lights slider js -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/js/lightslider.min.js"
      defer
    ></script>
    <!-- swiper js -->
    <script
      src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"
      defer
    ></script>
    <!-- aos js -->
    <script src="https://unpkg.com/aos@next/dist/aos.js" defer></script>
    <!-- magnific js -->
    <script
      src="../../libs/magnific-popup/jquery.magnific-popup.min.js"
      defer
    ></script>
    <!-- select2 js -->
    <script src="../../libs/select2/select2.full.min.js" defer></script>
    <!-- app js -->
    <script src="../../js/app.js" defer></script>
  </body>
</html>
