.custom-modal {
  .modal-dialog {
    width: 709px;
    .modal-content {
      background-color: #fff;
      border: 0px;
      box-shadow: unset;
      border-radius: 0px;
      .modal-body {
        padding: 32px;
      }
    }
  }
}
